.date-table {
    width: 100%;
    overflow-x: auto;
  }
  
  .date-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .date-table th,
  .date-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .date-table th {
    background-color: #f4f7f6;
    color: #2C3E50;
  }
  
  .date-table td {
    background-color: #e9ecef;
  }
  
  .date-table td span {
    display: block;
    padding: 5px;
    background-color: #28a745; /* Cambia según el estado de la reserva */
    color: white;
    border-radius: 5px;
  }
  