/* Contenedor principal */
.details-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .details-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Estilo para los textos de los detalles */
  .details-info p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #333;
  }
  
  .details-info strong {
    color: #555;
  }
  
  /* Formulario */
  .details-form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .details-form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #333;
  }
  
  /* Botones */
  .details-container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 16px;
  }
  
  .details-container button:hover {
    background-color: #45a049;
  }
  
  .details-container .delete-button {
    background-color: #f44336;
  }
  
  .details-container .delete-button:hover {
    background-color: #e53935;
  }
  
  /* Centrando el formulario */
  .details-form {
    display: flex;
    flex-direction: column;
  }
  
  /* Estilos para el mensaje de carga */
  .loading-message {
    text-align: center;
    font-size: 18px;
    color: #555;
  }
  
  /* Estilo de alerta de éxito */
  .success-message {
    text-align: center;
    color: green;
    font-size: 18px;
    margin-top: 20px;
  }
  