/* El contenedor del interruptor */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Ocultar el input real */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* El control deslizante del interruptor */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  /* Cuando el input está activado */
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  /* Deslizar la bola cuando está activado */
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  /* Control deslizante redondeado */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  